<h1>Personal Blog</h1>

<ul>
  <% articles.forEach(a => { %>
    <li>
      <a href="/article/<%= a.id %>"><%= a.title %></a> 
      - <small><%= a.date %></small>
    </li>
  <% }) %>
</ul>

<!-- views/home.ejs -->