

<link rel="stylesheet" href="/css/style.css">
<h1>Personal Blog</h1>

<ul class="article-list">
  <% articles.forEach(a => { %>
    <li>
      <a href="/article/<%= a.id %>"><%= a.title %></a> 

     - <bold><%= a.date %></bold>
    </li>
  <% }) %>
</ul>

<!-- views/home.ejs -->