<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home - Articles</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>All Articles</h1>
  <ul>
    <% articles.forEach(article => { %>
      <li>
        <a href="/article/<%= article.id %>"><%= article.title %></a>
      </li>
    <% }) %>
  </ul>

  <a href="/article/admin">Go to Admin Panel</a>
</body>
</html>
